<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<!--

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Deficiencia</h1>
            </div>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Talhão:</th>
                            <th>Descrição:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% deficiencia.forEach(deficiencia => { %>
                        <tr>
                            <td><img src="imgs/order.png" width="30px"></td>
                            <td><%= deficiencia.p %></td>
                            <td><%= deficiencia.s %></td>
                            <td><a style = "color: orange;" href="/deficiencia/edit/<%= deficiencia.id %>">Editar</a></td>
                            <td><a style = "color: red " href="/deficiencia/delete/<%= deficiencia.id %>" onclick="return confirm('Deseja realmente deletar  <%= deficiencia.id %>')">Deletar</a></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

-->

<%- include ('partials/footer.ejs') %>
