<%- include (partials/header.ejs) %>
<%- include (partials/navbar.ejs) %>
<!--
<div class="conteiner">
    <div class="card">
        <div class="card-header">
            <h1>Editar Histórico</h1>
            <hr>
        </div>    
        <div class="card-body">
            <form action="/deficiencia/update" method="post">
                <label>Talhão:</label>
                <input type="text" name="p" id="p" value="<%= deficiencia.p >" class="form-control" required>
                <label>Descrição:</label>
                <input type="text" name="s" id="s" value="<%= deficiencia.s%>" class="form-control" required>
                <input type="hidden" name="id" value="<%= deficiencia.id %>">
            </form>
        </div>
    </div>
</div>
-->

<%- include ('partials/footer.ejs') %>