<%- include (partials/header.ejs) %>
<%- include (partials/navbar.ejs) %>

<div class="conteiner">
    <div class="card">
        <div class="card-header">
            <h1>Editar Histórico</h1>
            <hr>
        </div>    
        <div class="card-body">
            <form action="/historico/update" method="post">
                <label>Talhão:</label>
                <input type="text" name="talhoes" id="talhoes" value="<%= historico.talhoes >" class="form-control" required>
                <label>Descrição:</label>
                <input type="text" name="descricao" id="descricao" value="<%= historico.descricao%>" class="form-control" required>
                <input type="hidden" name="id" value="<%= fazenda.id %>">
            </form>
        </div>
    </div>
</div>


<%- include ('partials/footer.ejs') %>