<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
<!--
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Histórico</h1>
            </div>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Talhão:</th>
                            <th>Descrição:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% historico.forEach(historico => { %>
                        <tr>
                            <td><img src="imgs/order.png" width="30px"></td>
                            <td><%= historico.talhao %></td>
                            <td><%= historico.descricao %></td>
                            <td><a style = "color: orange;" href="/historico/edit/<%= historico.id %>">Editar</a></td>
                            <td><a style = "color: red " href="/historico/delete/<%= historico.id %>" onclick="return confirm('Deseja realmente deletar o fazenda <%= fazenda.numero %>')">Deletar</a></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
-->
<%- include ('partials/footer.ejs') %>
