<%- include ('partials/header.ejs') %>
    <%- include ('partials/navbar.ejs') %>
<!--
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1>Editar Talhão</h1>
                    <hr>
                </div>
                <div class="card-body">
                    <form action="/histal/update" method="post">

                        <label>Nome do pé:</label>
                        <input class="form-control" type="text" name="nome" id="nome" value="<%= histal.pe %>"
                            required>

                        Procura uma inout para o status --> 
                       <!-- <input class="form-control" type="text" name="preco" id="preco" value="<%= produto.preco %>"
                            required>




                        <input type="hidden" name="id" id="id" value="<%= histal.id %>">
                        <br>

                        <input type="submit" class="btn btn-warning" value="Alterar"
                            onclick="return confirm('Confirma as alterações dos dados?')">
                    </form>
                </div>
            </div>
        </div>
    -->

        <%- include ('partials/footer.ejs') %>