<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
<main class="main-content">
<%- include ('partials/navbar-lateral.ejs') %>  
<div class="container cont">     
<div class="container">
  <div class="d-flex align-items-center justify-content-between mt-2" id="hist">
    <h2 class="align-self-end m-0 p-0 fonte titulo1">Mapas</h2>
    <div id="options-container">
      <select id="prop" class="options">
        <% Propriedades.forEach(prop => {%>
        <option value="<%= prop.id_propriedade%>"><%= prop.nome%></option>
      <%})%>
      </select>
      <img src="/imgs/seta-prop.svg" alt="Seta" class="menu-arrowp" id="setajs"/>
    </div>
</div>

  <img src="/imgs/linha.png" alt="" id="voltar-linha" class="p-0 mt-0" />
</div>
<div class="container pt-3">
  <div class="custom-menu" tabindex="0">
    <div class="menu-header">
      <span class="menu-selected">Mapa Infravermelho (NDVI)</span>
      <img src="/imgs/arrow-down.svg" alt="Seta" class="menu-arrow" />
    </div>
    <ul class="menu-options">
      <li class="menu-option" data-value="Mapa Imagem Satelite">Mapa Imagem Satélite</li>
      <li class="menu-option" data-value="Mapa Localização Pes (Apex)">Mapa Localização Pés (Apex)</li>
      <li class="menu-option" data-value="Mapa de Calor (Apex)">Mapa de Calor (Apex)</li>
    </ul>
  </div>
  <div class="infrared-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2155.0494781834955!2d-47.92813313180629!3d-24.715003701623697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1732678760574!5m2!1spt-BR!2sbr" width="600px" height="450px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mapama"></iframe>
    <iframe 
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2155.0494781834955!2d-47.92813313180629!3d-24.715003701623697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1732678760574!5m2!1spt-BR!2sbr&maptype=satellite" 
    width="600px" 
    height="450px" 
    allowfullscreen="" 
    loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade"
    class="mapama">
</iframe>

  </div>
</div>
</div>
</main>
<%- include ('partials/footer.ejs') %>