<%- include('partials/header.ejs') %>
<%- include('partials/navbar-user.ejs') %>
<main class="main-content">
    <%- include ('partials/navbar-lateral.ejs') %>
    <form action="/talhoes/new" method="POST">
<div class="container mt-5">
    <h1 id="titulo">Cadastrar Talhão</h1>
    <div class="card mt-2" id="form-bg">
        <div class="card-body p-5">        
                <!-- Campos adicionais (class="d-none")-->
                <div id="camposAdicionais" class="mt-5">
                    <h4 id="titulo">Dados do Talhão</h4>
                    <!-- Endereço -->  
                    <input type="hidden" name="id_propriedade" value="<%= propriedadeSelecionada || '' %>">
                    <div class="row">
                        <label for="">
                        <div>
                            <div class="d-flex align-items-center justify-content-between mt-2" id="hist">
                                <div class="options-container col-md-5">
                                  <label for="">Propriedade</label>
                                  <div id="propriedades" class="form-control">
                                    <% 
                                    const propriedadeAtual = propriedades.find(prop => prop.id_propriedade == propriedadeSelecionada);
                                %>
                                <% if (propriedadeAtual) { %>
                                    <div value="<%= propriedadeAtual.id_propriedade %>" selected>
                                        <%= propriedadeAtual.nome %>
                                    </div>
                                <% } else { %>
                                    <div disabled selected>Propriedade não encontrada</div>
                                <% } %>
                                </div>

                                </div>
                            </div>
                        </label>
                        <div class="form-group col-md-5 mt-4">
                            <label for="cep" class="form-label">Nome talhão</label>
                            <input type="text" class="form-control" id="nome" name="nome" placeholder="Insira o nome do talhão" required>
                        </div>
                    </div>
                        <div class="form-group col-md-5 mt-4">
                            <label for="cep" class="form-label">Espécie Plantada</label>
                            <input type="text" class="form-control" id="especie_fruta" name="especie_fruta" placeholder="Insira a espécie de fruta que é plantada no talhão" required>
                        </div>
                <!-- Botão para cadastrar -->
                 <div class="container  my-2">
                    <button type="submit" class="btn pt-2 mt-3" style="padding-inline: 7rem;" id="btn-entrar">Cadastrar</button>
                </div>
            </div>
            </form>

            <!-- TABELA DE DADOS DAS PROPRIEDADES CADASTRADAS -->
            <div class="card my-4" id="form-bg-claro">
                <div class="card-body">
                    <table class="tabe">
                        <thead id="thead">
                            <th class="fonte" id="thead">Nome Talhão</th>
                            <th class="fonte" id="thead">Espécie Plantada</th>
                            <th class="fonte" id="thead">Propriedade</th>
                            <th class="fonte" id="thead">Editar</th>
                        </thead>
                        <tbody>
                            <% talhoes.forEach(tal => { %>
                            <tr class="tb">
                            <td class="fonte" id="tabodyp"><%= tal.nome %></td>
                            <td class="fonte" id="tabodyp"><%= tal.especie_fruta %></td>
                            <td class="fonte" id="tabodyp"><%= tal.propriedade.nome %></td>
                            <td class="fonte" id="tabodyp">
                                <a href="/talhoes/edit/<%= tal.id_talhao %>"><img src="/imgs/btn-editar.svg" alt=""></a>
                            </td>
                            </tr>
                            <% }) %>
                        </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>
</main>

<%- include('partials/footer.ejs') %>
